
.bg-cov {
    background-size: cover;
}

.bg-center {
    background-position: 50%;
}

.bg-no-rep {
    background-repeat: no-repeat;
}

.bg-img {
    background-image: url(https://dev-wsp.orderific.com/signin.png);
    background-color: var(--img-bg);
}

.bg-img1 {
    background-color: var(--img-bg);
}

body {
    color: hsl(var(--foregr));
    background: var(--body-grad);
    margin: 0;
    line-height: inherit;
    font-family: "Roboto", sans-serif;
}

.con {
    position: relative;
}

.con1 {
    position: absolute;
}

.font-b {
    font-weight: 700;
}

.font-n {
    font-weight: 400;
}

.fx {
    display: flex;
}

.fx-c {
    flex-direction: column;
}

.fx-w {
    flex-wrap: wrap;
}

.f-width {
    width: 100%;
}

.gap2 {
    gap: var(--sp-2);
}

.gap6 {
    gap: var(--sp-6);
}

.i-center {
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

.inset0 {
    inset: var(--sp-0);
}

.j-btn {
    justify-content: space-between;
}

.lead24 {
    line-height: 24px;
}

.lead32 {
    line-height: 32px;
}

.lead56 {
    line-height: 56px;
}

.min-h-scr {
    min-height: 100vh;
}

.m2 {
    margin: var(--sp-2);
}

P, h1 {
    margin: 0;
}

.p4 {
    padding: var(--sp-4);
}

.p8 {
    padding: var(--sp-8);
}

.overflow-h {
    overflow: hidden;
}

.round5 {
    border-radius: var(--round5);
}

.track1 {
    letter-spacing: -.01em;
}

.track2 {
    letter-spacing: -.02em;
}

.track3 {
    letter-spacing: -.03em;
}

.txt-wh100 {
    color: var(--txt-wh100);
}

.txt14 {
    font-size: 14px;
}

.txt20 {
    font-size: 20px;
}

.txt48 {
    font-size: 48px;
}

.webkit {
    -webkit-font-smoothing: antialiased;
}

:html {
    line-height: 1.5;
}

:root {
    --bod: 0 0% 89.8%;
    --foregr: 0 0% 3.9%;
    --body-grad: linear-gradient(50deg, rgba(255, 85, 51, .12) 60%, rgba(0, 0, 0, .08) 70%);
    --img-bg: rgba(255, 85, 51, .5);
    --sp-0: 0;
    --sp-2: 8px;
    --sp-4: 16px;
    --sp-6: 24px;
    --sp-8: 40px;
    --round5: 24px;
    --txt-wh100: #fff;
}

@media (min-width: 768px) {
    .md\:fx-r {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .md\:fx {
        display: flex;
    }
}

@media (min-width: 768px) {
    .md\:txt16 {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .md\:txt22 {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .md\:txt56 {
        font-size: 56px;
    }
}
@media (min-width: 768px) {
    .md\:txt56 {
        font-size: 56px;
    }
}

@media (min-width: 768px) {
    .md\:w3 {
        width: 33.333333%;
    }
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

* {
    border-color: hsl(var(--bod))
}